{% extends "layout.html.twig" %}


{% block javascripts %}
    <script src="/scripts/jquery-2.0.3.min.js"></script>
    <script src="/scripts/jquery-ui.js"></script>
    <script src="/scripts/jquery.redirect.min.js"></script>
    <script src="/scripts/md5.js"></script>
    <script src="/scripts/check.js"></script>
{% endblock %}

{% block body %}
    <h3>Images List</h3>
    <ul>
        {% if images %}
            {% for img in images %}
                <li>
                    <img src='{{img.img_name}}'>
                    <button id="edit">Edit</button>
                    <button id="del">Delete</button>
                    <input type="hidden" name="id" id="id" value="{{ img.id}}"  />
                 <!--   <a href="/paint/edit/{#{ img.id}#}">Edit</a>
                    <a href="/paint/del/{#{ img.id}#}">Delete</a>-->
                </li>
            {% endfor %}
        {% else %}
                <h3>The site has not images yet.<a href="/paint">Create?</a></h3>
        {% endif %}
                
        <div id="secure">
            <fieldset>
                <p class="validateTips"></p>
                    <label for="password">Enter the password that Edit/Delete Image</label>
                    <input type="password" name="password" id="password" value=""  />
            </fieldset>
        </div>
            
    <div id="stat_mes">
        <p class="status"></p>
    </div>    
        <!--<?php //foreach ($images as $img) : ?>
            <li>
                <img src="<?//print $img['img_name']?>">
                <a href="/paint/edit/<?php //print $img['id']?>">Edit</a>
                <a href="/paint/del/<?php //print $img['id']?>">Delete</a>
            </li>-->
        <?php //endforeach;?>
    </ul>

{% endblock %}