{% extends "./layout.html.twig" %}

{% block javascripts %}
    <script src="/scripts/jquery-2.0.3.min.js"></script>
    <script src="/scripts/jquery-ui.js"></script>
    <script src="/scripts/md5.js"></script>
    <script src="/scripts/paint.js"></script>
{% endblock %}

{% block body %}
    <h3>Paint</h3>
    <div id="sketch">
	<canvas id="paint" width="800" height="300"></canvas>
    </div>
    <div class="tools">
        <button id="download">Download</button>
        <button id="save">Save</button>
        <div id="secure">
            <fieldset>
             <p class="validateTips"></p>
            <label for="password">Set the password and click Save button </label>
            <input type="password" name="password" id="password" value=""  />
            </fieldset>
        </div>
        <div id="stat_mes">
            <p class="status"></p>
        </div>
  </div>
    
{% endblock %}